*{margin:0px,padding:0px}
.container {
width: 140px;
height: 65px;
#background-color: red;
margin-bottom: 5px;
float:left;
#margin-right:10px;
margin-top:200px;
}
.container2 {
width: 140px;
height: 65px;
#background-color: blue;
margin-bottom: 5px;
float:left;
margin-top:200px;
}
.container3 {
width: 140px;
height: 65px;
#background-color: green;
margin-bottom: 5px;
float:left;
margin-top:200px;
}
.container4 {
width: 140px;
height: 65px;
#background-color: green;
margin-bottom: 5px;
float:left;
margin-top:200px;
}
.container5 {
width: 140px;
height: 65px;
#background-color: green;
margin-bottom: 5px;
float:left;
margin-top:200px;
}
.container6 {
width: 140px;
height: 65px;
#background-color: green;
margin-bottom: 5px;
float:left;
margin-top:200px;
margin-right:135px;
}
.container7 {
width: 140px;
height: 65px;
#background-color: green;
margin-bottom: 5px;
margin-top:200px;
float:left;
}
.container8 {
width: 800px;
height: 65px;
#background-color: green;
margin-bottom: 5px;
margin-top:20px;
float:left;
#text-align:center;
height:auto;
}